


.caja__contenido{
    width: 80%;
    display: flex;
    margin: 30px 10px;
    padding: 10px;
}

.caja__contenido h2{
    font-family: Raleway;
    font-size: 32px;
    color: #464646;
}

.caja__contenido p{
    font-family: Raleway;
    font-size: 16px;
    color: #464646;
}

.imagen__perfil{
    width: 268px;
    height: 268px;
    border-radius: 100%;
}

.redes__sociales{
    font-family: Raleway;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 520px;
}

.redes__sociales li{
    list-style: none;
    
}

.redes__sociales li a{
    text-decoration: none;
    color: #464646;
    
}

.redes__sociales li a:hover{
    text-decoration: underline;
}

