
   




    .experiencia_profesional__titulo{
        font-size: 32px;
        font-family: Raleway;
        text-align: center;
        padding-bottom: 32px;
        padding-top: 88px;
    }
    
    .experiencia_profesional__contenedor{
        display: flex;
        height: 406px;
        width: 100%;
        margin-bottom: 64px;
        justify-content: center;
    }
    
    .experiencia_profesional__imagen{
        width: 40%;
        margin-right: 24px;
    }
    
    .experiencia_profesional__textoyboton{
        margin-top: 113px;
        margin-right: 32px;
    }
    
    .experiencia_profesional__texto{
        font-family: Raleway;
    }
    
    .experiencia_profesional__texto h4{
        font-size: 22px;
    }
    
    .experiencia_profesional__texto p{
        font-size: 16px;
        margin-top: -20px;
    }
    
    .boton_repositorio, .boton_demo { 
        padding: 10px;
        font-family: Raleway; 
    }
    
    .boton_repositorio{
        margin-right: 16px;
    }
    
    .boton_repositorio a{
        text-decoration: none;
    }
    
    .boton_repositorio{
        color: #2A7AE4;
        border-color: #2A7AE4;
        background-color: #F5F5F5;
    }
    
    .boton_demo{
        background-color: #2A7AE4;
        color: #f5f5f5;
        border-color: #2A7AE4;
    }