.sobre{
    font-family: Raleway;
    margin-top: 95px;
    width: 100%;
    color: #464646;
    background: #EAF2FD;
}

.sobre h3{
    font-size: 32px;
    width: auto;
    margin-left:10px ;
    padding-top: 64px;
}

.sobre p{
    font-size: 16px;
    width: auto;
    margin-left: 10px;
    padding-bottom: 64px;
}





